@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html, body{
    margin: 0;
    padding: 0;
    font-family: Inter;
    background-color: #fafafa;
}

header{
    width: 100%;
    height: 110px;
    background-color: #212121;
}

.principalContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    /* background-color: rebeccapurple; */
}

.logoHeader{
    width: 180px;
    margin-left: 15px;
    cursor: pointer;
}

.searchbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    border: 2px solid rgb(63, 63, 63);
    height: 35px;
    border-radius: 7px;
}

.searchInput{
    width: 100%;
    max-width: 470px;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 20px;
    color: rgb(212, 212, 212);
    font-family: Inter;
    font-size: 18px;
}

.searchButton{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    opacity: 60%;
    cursor: pointer;
    transition: 0.3s;
}
.searchButton:hover{
    opacity: 100%;
    scale: 1.1;
}

.loginBox{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    height: 40px;
    width: 250px;
    margin-right: 20px;
    gap: 10px;
}

.accountIcon{
    width: 35px;
}

.accountName{
    color: white;
    cursor: pointer;
}

.accountName:hover{
    text-decoration: underline;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
}

.itemList{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 100%;
    color: rgb(187, 187, 187);
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.itemList:hover{
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0) 83%);
    cursor: pointer;
    color: white;
    font-weight: 400;
}

.itemList2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 100%;
    color: rgb(187, 187, 187);
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.itemList2:hover{
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0) 83%);
    cursor: pointer;
    color: white;
    font-weight: 400;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mobileMenu{
    display: none;
}



.principalContainer2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: rebeccapurple; */
}

.title-and-filter{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80%;
    height: 250px;
    /* background-color: rebeccapurple; */
}





.destaquesTitle{
    color: #CFA026;
    font-family: Poppins;
    font-size: 35px;
    text-align: start;
    width: 100%;
    padding-left: 50px;
    font-weight: 600;


}

.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    /* background-color: #B58B1E; */
    height: 70px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
}

.filter3{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100px;
    /* background-color: #B58B1E; */
    height: 70px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
}

.filter2{
    margin-left: 20px;
    opacity: 60%;
}

.filter2:hover{
    opacity: 100%;
    cursor: pointer;
}

.filtersContainer{
margin-top: -30px;
}


.filtersGroup{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 40px;
    font-size: 18px;
    font-weight: 500;
    /* background-color: rebeccapurple; */
}

.catalogoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Distribui uniformemente */
    align-items: flex-start;
    width: 100%;
    /* background-color: pink; */
    gap: 60px;
    margin-top: 20px;
}

.card{
    scale: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border-radius: 7px;
    /* box-shadow: 0px 0px 20px rgb(20,20,20); */
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 
    0px 4px 6px rgba(0, 0, 0, 0.041),  /* Sombra suave próxima */
    0px 10px 15px rgba(0, 0, 0, 0.034), /* Sombra média */
    0px 20px 25px rgba(0, 0, 0, 0.055);  /* Sombra mais distante */
    transition: 0.4s;
}

.card:hover{
    margin-top: -20px;
    box-shadow: 
    0px 4px 6px rgba(0, 0, 0, 0.1),  /* Sombra suave próxima */
    0px 10px 15px rgba(0, 0, 0, 0.075), /* Sombra média */
    0px 20px 25px rgba(0, 0, 0, 0.2);  /* Sombra mais distante */
}

.imageCard{
    width: 100%;
    height: 200px;
    border-radius: 7px 7px 0px 0px;
    object-fit: cover;
    border-bottom: 2px solid rgb(202, 202, 202)
}

.nameCard{
    margin-top: 10px;
    text-align: center;
    width: 95%;
    font-weight: 500;
    margin-bottom: 0px;
    color: #212121;
}

.valor{
    margin-top: 10px;
    font-weight: 800;
    font-size: 18px;
    background: linear-gradient(90deg, #B58B1E, #F6BD29);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}









footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    width: 100%;
    height: 400px;
    background-color: #212121;
}

.logoFooter{

    width: 200px;
}

.blocosFooterContainer{
    display: flex;
    gap: 20px;
}

.blocoFooter{
    width: 250px;
    height: 250px;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.blocoFooter2{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: pink; */
}

.titleFooter{
    margin-top: 30px;
    color: #CFA026;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 0px;
}

.linkFooter{
    font-size: 18px;
    cursor: pointer;
    color: #9e9e9e;
    margin-bottom: 0px;
    margin-top:10px;
}

.linkFooter:hover{
    color: rgb(196, 196, 196);
}

.infoFooter{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;  
    color: #9e9e9e; 
    font-weight: 300; 
    cursor: default;
}

.logoCorreio{
    width: 170px;
    margin-top: 20px;
}

.copy{
    color: #808080;
    font-style: italic;
}








.searchbarMobile{
    display: none;
}

.menuBurguer{
    display: none;
}

.accountIconMobile{
    display: none;
}

@media (max-width: 600px) {


    .itemList{
        display: none;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 100%;
        color: rgb(187, 187, 187);
        font-size: 16px;
        font-weight: 400;
        transition: 0.3s;
        clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    }
    
    .itemList:hover{
        background: rgb(20,20,20);
        background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0) 83%);
        cursor: pointer;
        color: white;
        font-weight: 400;
    }
    
    .itemList2{
        display: none;
        justify-content: center;
        align-items: center;
        width: 230px;
        height: 100%;
        color: rgb(187, 187, 187);
        font-size: 16px;
        font-weight: 400;
        transition: 0.3s;
        clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    }
    
    .itemList2:hover{
        background: rgb(20,20,20);
        background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0) 83%);
        cursor: pointer;
        color: white;
        font-weight: 400;
    }

    .searchbar{
        display: none;
    }

    .accountName{
        display: none;
    }

    .accountIcon{
        display: none;
    }

    .searchbarMobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        border: 2px solid rgb(63, 63, 63);
        height: 35px;
        border-radius: 7px;
        margin-bottom: 15px;
    }
    
    .searchInputMobile{
        width: 100%;
        max-width: 470px;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        padding-left: 20px;
        color: rgb(212, 212, 212);
        font-family: Inter;
        font-size: 18px;
    }
    
    .searchButtonMobile{
        width: 20px;
        height: 20px;
        margin-right: 10px;
        opacity: 60%;
        cursor: pointer;
        transition: 0.3s;
    }

    .menuBurguer{
        display: flex;
        width: 35px;
        height: 35px;
        margin-left: 15px;
    }

    .principalContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        width: 100%;
        /* background-color: rebeccapurple; */
    }

    .logoHeader{
        width: 180px;
        margin-left: 0px;
    }

    .loginBox{
        display: none;
        justify-content: center;
        align-items: center;
        /* background-color: red; */
        height: 40px;
        width: 250px;
        margin-right: 20px;
        gap: 10px;
    }

    .accountIconMobile{
        display: flex;
        width: 40px;
        margin-right: 15px;
    }

    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100%;
    }

    .catalogoContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Distribui uniformemente */
        align-items: flex-start;
        width: 100%;
        /* background-color: pink; */
        gap: 80px;
        margin-top: -50px;
    }

    .filtersContainer{
        width: 100%;
        display: flex;
        justify-content: center;
    }


    .card{
        scale: 1.15;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 0 0 200px;
        height: 300px;
        border-radius: 7px;
        /* box-shadow: 0px 0px 20px rgb(20,20,20); */
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        box-shadow: 
        0px 4px 10px rgba(0, 0, 0, 0.041),  /* Sombra suave próxima */
        0px 10px 15px rgba(0, 0, 0, 0.034), /* Sombra média */
        0px 20px 25px rgba(0, 0, 0, 0.055);  /* Sombra mais distante */
        transition: 0.4s;
    }

    
    .card:hover{
        margin-top: 0px;
        box-shadow: 
        0px 4px 10px rgba(0, 0, 0, 0.041),  /* Sombra suave próxima */
        0px 10px 15px rgba(0, 0, 0, 0.034), /* Sombra média */
        0px 20px 25px rgba(0, 0, 0, 0.055);  /* Sombra mais distante */
    }
    
    .imageCard{
        width: 100%;
        height: 200px;
        border-radius: 7px 7px 0px 0px;
        object-fit: cover;
        border-bottom: 2px solid rgb(202, 202, 202)
    }
    
    .nameCard{
        margin-top: 10px;
        text-align: center;
        width: 95%;
        font-weight: 500;
        margin-bottom: 0px;
        color: #212121;
    }
    
    .valor{
        margin-top: 10px;
        font-weight: 800;
        font-size: 17px;
        background: linear-gradient(90deg, #B58B1E, #F6BD29);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .filter{
        display: none;
        align-items: center;
        justify-content: center;
        width: 100px;
        /* background-color: #B58B1E; */
        height: 70px;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 18px;
        font-weight: 500;
    }
    
    .filter3{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        /* background-color: #B58B1E; */
        height: 70px;
        margin-bottom: 0px;
        margin-top: -30px;
        font-size: 18px;
        font-weight: 500;
        text-align: left;
    }
    
    .filter2{
        display: none;
        margin-left: 20px;
        opacity: 60%;
    }
    
    .filter2:hover{
        opacity: 100%;
        cursor: pointer;
    }

    .destaquesTitle{
        text-align: center;
        margin-left: -50px;
    }

    .blocosFooterContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        width: 100%;
        height: 800px;
        background-color: #212121;
    }

    .copy{
        margin-top: -60px;
    }

    .blocoFooter{
        margin-bottom: -70px;
    }

    .blocoFooter2{
        margin-top: 40px;
    }

    .mobileMenu{
        margin-left: -1100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height:100vh;
        position: absolute;
        z-index: 3;
        background-color: #212121;
        transition: 0.5s;
    }

    .linksMenuGroup{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        width: 100%;
        margin-top: 100px;
        margin-top: 0px;
        /* background-color: rebeccapurple; */
    }

    .itemListMobile{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 70px;
        color: rgb(187, 187, 187);
        font-size: 22px;
        font-weight: 400;
        transition: 0.3s;
        user-select: none;
        margin-bottom: -10px;
    }

    .itemListMobile:hover{
        background-color: #2e2e2e;
    }

    .menuBurguer:nth-child(2){
        display: none;
    }
}